/* .accordion {
  max-width: 50rem;
  border-radius: 1rem;
  overflow: hidden;
  color: rgb(var(--color-secondary-0));
} */
/* 
.accordion-item {
  background-color: #fff;
} */
/* 
.accordion-item:not(:last-child) {
  border-bottom: 1px solid #e0e2e5;
} */

/* .accordion-item__header {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem;
} */

/* .accordion-item__content {
  transition: all 0.3s ease-in-out;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  line-height: 1.6;
  padding: 0 1rem;
} */

.accordion-item.accordion__expanded .accordion-item__content {
  padding: 1rem;
  opacity: 1;
  max-height: 100vh;
  transition: all 0.2s ease-in-out;
}

.accordion-item__chevron {
  width: 1.2rem;
  height: 1.2rem;
  transition: all 0.3s ease-out;
  rotate: 0deg;
}

/* .accordion-item.accordion__expanded .accordion-item__chevron {
  rotate: 180deg;
} */
